@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1573136893823'); /* IE9 */
  src: url('iconfont.eot?t=1573136893823#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABmQAAAI7AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgQEBNgIkAwgLBgAEIAWEbQcuG6UFEQUEyb4YsJuL+drCupH969KdakzTU5KnZCQjKTMz33j4/zXaffP/yJom1bRno0l0IJHxEoZIgtIpgbOdUDyKhziNkEOo/mpNN0AXGWFWB55kJg5YQesf9u4B97c0vk5XqQpZIduKi431+kHpq59P3Dv9LaBA5gPKcc6FXUDRBAp0D4wiKw3EGsYueIGPCfSasSVOz29PaGT2qkC8eGp8aAo+WWbJRqgaDua38UapKV4V7/E6+n78th0olIlddvVoH8HhN05aarvWw4DgJ6DjJRK2kIl7jbELSTB60hvLFjhWcfBN1wUGcdQ/T1Tswn4wBXnPxPcEj/pMATIqrGIN0bK1in7nx+q+MWnVKBEvi1x+22UNCvoLivZyQLA7Zhab9W039OEeLen+57vUotmpPfg5LeUL5DsutGNFRkdroLCqOmlTr150kGvU16mqiTtJhcbE/Thq0xmSxhIp07ZQ6rODSsM8gLLpeHxqDOuJ3APMfQOEYT8oDHqHZNgvKdP+UJr0j8pw9NDrQcwu7LMSidoy+UIRBl+YhFWpXaOouPhO5i33OS+MGK/EbRJE13LKySOVxEtsad+NJ6JRc1XgATxHeV5hzVVKoVixSL22bd30JiusClBOMOITJIICX1AiVCnpYLBQlc/fEeNNzscdXXXuV4S1ktmRy+IMIB1l5aCuR3ml9c7wCKEhjVUK6ADmkVyugurmeSkSEpZ4QqS2Zju99FCZtb2i+LtTACi2uhtOdZKfUGkAAAAA') format('woff2'),
  url('iconfont.woff?t=1573136893823') format('woff'),
  url('iconfont.ttf?t=1573136893823') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1573136893823#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heng:before {
  content: "\e608";
}

